// Define variables for your color scheme

$white: #FFFFFF;
$warm-grey: #E5DED7;
$darker-grey: #D9D8D8;
$pale-beige: #EBDBCC;
$light-beige: #e1cdc2; // rgb(225,205,194)
$beige: #c7a492; // rgb(199,164,146)
$dark-beige: #b08065; // rgb(176,128,101)
$light-brown: #333233;
$brown: #1C1D1D;
$black: #000000;
