// Specific CSS for your home-page


.flex-container {
  display: flex;
  width: 70rem;
  margin: 0 auto;
}
.picture {
  width: 39rem;
  height: 60rem;
  background-size: cover;
  background-image: asset-url('landingCat.jpg');
  position: relative;
}

.words {
  width: 24rem;
}

.beige-box {
  background-color: #EBDBCC;
  height: 18rem;
  margin: 8rem 0;
}

.split-header {
  top: 15rem;
  left: -20rem;
  position: absolute;
  width: 48rem;
  font-size: 3rem;
}

.second-half {
  color: $brown;
  position: relative;
  display: inline-block;
  width: 20rem;
  z-index: 1;
  overflow: hidden;
  height: 4rem;
}

.first-half {
  color: $pale-beige;
  display: block;
  position: absolute;
  width: 48rem;
}

