<div style="margin-top: 50px">

</div>
<div class="container">
  <div>
    <a href="#" class="button-light">Click me!</a>
  </div>
  <br>
  <div>
    <a href="#" class="button-light-fill">Click me!</a>
  </div>
  <br>
  <div>
    <a href="#" class="button-dark-fill">Click me!</a>
  </div>
  <br>
  <div style="display: flex">
    <div class="category-card" style="background-image: url(<%= asset_path 'cat_rect.jpg'%>);">
      <h2>Hammocks</h2>
      <p></p>
    </div>
    <div class="category-card" style="background-image: url(<%= asset_path 'hut_rect.jpg'%>);">
      <h2>Huts</h2>
      <p></p>
    </div>
    <div class="category-card" style="background-image: url(<%= asset_path 'bed_rect.jpg'%>);">
      <h2>Beds</h2>
      <p></p>
    </div>
  </div>
</div>
