<div style="margin-top: 50px">

</div>
<div class="container">
  <div>
    <a href="#" class="button-light">Click me!</a>
  </div>
  <br>
  <div>
    <a href="#" class="button-light-fill">Click me!</a>
  </div>
  <br>
  <div>
    <a href="#" class="button-dark-fill">Click me!</a>
  </div>
</div>
