  <div class ="container" style="padding-top: 100px;">
      <div class="row">
        <div class="col-sm-4">
        </div>
        <div class="col-sm-4">
            <h4>Contact Us</h4>
        </div>
        <div class="col-sm-4">
            </div>
     </div>
  </div>

<div>

</div>

  <div class ="container" style="padding-top: 50px;">
      <div class="row">
        <div class="col-sm">
          <%= image_tag "cat_rect.jpg", style: 'height:474px;width:350px;margin-bottom:20px;' %>
        </div>
        <div class="col-sm">
        </div>
        <div class="col-sm">
        </div>
     </div>
  </div>
