<div class="flex-container">
  <div class="words">
    <div class="beige-box">

    </div>
    <input type="text">
    <button>Search</button>
  </div>
  <div class="picture">
    <h2 class="split-header">
      <span class="first-half">Discover our pet furniture options</span>
      <span class="second-half">Discover our pet furniture options</span>
    </h2>
  </div>
</div>

