<div class="flex-container">

  <div class="words">

    <div class="beige-box">
    </div>

    <%= form_tag products_path, method: :get do %>
     <%= text_field_tag :query,
       params[:query],
         class: "form-control" id="form-control-overrides",
         placeholder: "Find a product"
       %>
     <%= submit_tag "Search", class: "btn btn-light" %>
   <% end %>

  </div>

  <div class="picture">
    <h2 class="split-header">
      <span class="first-half">Discover our pet furniture options</span>
      <span class="second-half">Discover our pet furniture options</span>
    </h2>
  </div>
</div>

