<h1>Pages#home</h1>
<div class="flex-container">
  <div class="words">
    <div class="beige-box">

    </div>
    <input type="text">
    <button>Search</button>
  </div>
  <div class="picture">
    <h1>Discover our pet furniture options</h1>
  </div>
</div>

