<div class="flex-container">

  <div class="words">

    <div class="beige-box">
    </div>


  <div class = "search-box-container">
    <div class = "form-container">
    <%= form_tag products_path, method: :get do %>
       <%= text_field_tag :query,
          params[:query],
            class: "form-home",
            placeholder: "Find a product"
          %>
          </div>
       <%= submit_tag "Search", class: "button-light-fill" %>
     <% end %>
  </div>


  </div>

  <div class="picture">
    <h2 class="split-header">
      <span class="second-half">Discover our pet furniture options</span>
      <span class="first-half">Discover our pet furniture options</span>
    </h2>
  </div>
</div>

