<h1>Pages#home</h1>
<div class="flex-container">
  <div class="words">
    <h1>Lorem ipsum dolor sit amet,</h1>
    <input type="text">
    <button>Search</button>
  </div>
  <div class="picture"> pic</div>
</div>

