.category-card {
  width: 250px;
  margin: 16px;
  background-repeat: no-repeat;
  background-size: 110%;
  background-position: center;
  min-height: 350px;
  box-shadow: 1px 1px 5px $dark-beige;
  border-radius: 4px;
  object-fit: fill;
  transition: 0.5s;
  h2 {
    text-align: center;
    color: $dark-beige;
    margin-top: 16px;
    font-family: $body-font;
    text-shadow: 0px 0px 2px $white;
  }
  &:hover {
    background-size: 120%;
    transition: 0.5s;
    box-shadow: 2px 2px 10px $dark-beige;
  }
}
