.navbar-lewagon {
  justify-content: space-between;
  background: white;
  width: 100vw;
  // position: fixed;
  // top: 0;
  // left: 0;
  // z-index: 1;
}


.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

section.navbar-left {
  justify-content: left;
}

.navbar-lewagon .navbar-brand img {
  width: 90px;
  margin: 10px;
}

// Styling for 'Home, Shop, Blog, Contact us'
section.navbar-mid {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  background-color: rgba(248, 245, 242, 0.75);
  height: 40px;
  padding-right: 50px;
  padding-left: 50px;
}

section.navbar-mid li {
  padding: 40px;
}

// Positioning for icons on right of navbar
section.navbar-end, ul.navbar-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

// Removes border around 'Menu' button
div.navbar-toggler {
  border: none;
}

// Padding between icons for mobile
ul.navbar-nav .nav-link {
  padding: 0 0 0 1rem;
}

