.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

// Styling for 'Home, Shop, Blog, Contact us'
section.navbar-mid {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.nav-link {
  color: #000000;
}

