.row {
}

.container {
  position: relative;
  text-align: right;
  color: black;
  font-family: 'Open Sans', sans-serif;
  text-decoration: none;
}

.card-product {
  overflow: hidden;
  background: white;
  display: flex;
  align-items: center;
}

.card-product .image-text-box img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.card-product a {
  color: black;
  text-decoration: none;
}

a:hover {
  color: black;
}

.card-product h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-product p {
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product-name {
  position: absolute;
  top: 8%;
  right: 20%;
  font-size: 14px;
}

.card-product-desc {
  width: 296px;
  position: absolute;
  top: 25%;
  right: 20%;
  font-size: 14px;
  text-align: right;
}

.card-product-infos {
  width: 100%;
  margin-left: 20px;
  margin-right: auto;
}

