.row {
}

.container {
  position: relative;
  text-align: right;
  color: black;
  font-family: 'Open Sans', sans-serif;
}

.card-product a {
  color: black;
}

a:hover {
  color: black;
}

.card-product h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-product p {
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product-name {
  position: absolute;
  top: 6%;
  right: 10%;
  font-size: 13px;
}

.card-product-name a{
  text-decoration: none;
}

.card-product-desc {
  width: 350px;
  position: absolute;
  top: 22%;
  right: 10%;
  font-size: 13px;
  text-align: right;
  padding-left: 40%;
}


// .card-product-infos {
//   width: 100%;
//   margin-left: 20px;
//   margin-right: auto;
// }

// .card-product {
//   overflow: hidden;
//   background: white;
//   display: flex;
//   align-items: center;
// }

// .card-product .image-text-box img {
//   display: block;
//   margin-left: auto;
//   margin-right: auto;
//   width: 100%;
// }
