.container {
}

.product-title {
  text-align: center;
}

.search-box-container {
 margin-right: 25px;
}

.search-box {
  padding-top: 60px;
}

html, body {
  background-color: black;
  min-height: 100vh;
  width: 100vw;
}
