.form-cont {
  width: 90%;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 30px;
  color: black;
  border-radius: 8px;
  padding-left: 15px;
}

::placeholder {
}

.search-box-container {
 margin-right: 25px;
}
