.holding-box {
  width: 80%;
  margin: 0 auto;
  display: flex;
}

.test-box{
  height: 200px;
}

.product-box {
  width: 60%;
  margin: 0 auto;
}

.product-width{
  width: 60%;
  margin: 0 auto;
}

.product-show-images {
  display: flex;
}

.image-border {
  margin: 8px;
}

.name-holder {
  display: flex;
  justify-content: space-between;
}

.name-text {
  font-size: 44px;
}

.price-text {
  font-size: 24px;
  height: 100%;
  vertical-align: text-bottom;
}

.materials-box {

}

.link-box {
  width: 60%;
  margin-top: 40px;
}

.link-box a {
  color: $brown;
  background-color: transparent;
  text-decoration: none;
}

.big-plus {
  font-size: 32px;
  font-weight: 700;
  color: $brown;
}

.right-pad {
  padding-right: 20px;
}
